/* Body */

* {
    text-decoration: none;
    list-style: none;
    box-sizing: none;
}

body {
    font-family: 'Helvetica';
    background-color: #ffffff;
}

.bg-putih {
    background-color: #F1F3FF;
}


/* Body */


/* Navigation-bar */

.navbar {
    font-size: 14px;
    padding-top: 20px;
}

.logobiru {
    margin-left: 3%;
}

.navbar-nav {
    margin-right: 3%;
}

nav ul li a {
    color: #000000;
    margin: 0px 8px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
}

.nav-link {
    color: #000000 !important;
}

.btn-ijo {
    color: white;
    background-color: #5CB85F;
    border-radius: 3px;
}

.btn-reg {
    margin-left: 20px;
}


/* Navigation-bar */


/* offcanvas */

.offcanvas {
    width: 50%;
}

#offcanvasRightLabel {
    font-weight: 650;
}

.btn-reg-offcanvas {
    margin-top: 10px;
}


/* offcanvas-end */


/* Header */

.section {
    background-color: #F1F3FF;
    width: 100%;
    text-align: left;
    justify-content: left;
    align-items: center;
    padding-right: 0%;
}

.pembuka {
    width: 100%;
    display: flex;
}

.pembuka img {
    margin-top: 50px;
}

.mobil {
    padding-right: 0px;
}

.gmbr {
    width: 80%;
}

.bio {
    font-size: 36px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    flex-direction: column;
}

.bio button {
    margin-top: 20px;
}

.ucapan {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}

.btn-msm {
    padding: 8px 12px !important;
}


/* Header */


/* Our Services */

.service {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-service {
    margin-top: 5rem;
}

.service img {
    width: 55%;
}

.bio2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio2 img {
    margin-top: 15px;
}

.judul {
    font-size: 24px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
}

.ket {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}


/* Our Services */


/* Why us */

.wu {
    margin-top: 120px;
}

.why-us {
    width: 270px;
    height: 182px;
    margin: auto 7px;
}

.judul2 {
    font-size: 24px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
}

.ket2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}

.kartu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 45px;
}

.kartu h5 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0px;
}

.kartu p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 16px 0px;
}

@media (min-width:1400px) {
    .judul2,
    .ket2 {
        margin-left: 7%;
    }
}

@media (max-width:1199px) {
    .judul2,
    .ket2 {
        margin-left: 6%;
    }
}

@media (max-width:991px) {
    .judul2,
    .ket2 {
        margin-left: 10%;
    }
}

@media (max-width:767px) {
    .judul2,
    .ket2 {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:768px) {
    .wus {
        display: flex;
        justify-content: center;
    }
    .why-us {
        margin-bottom: 18px;
    }
}


/* Why us */


/* Testimonial */

.testimonial {
    justify-content: center;
    margin-top: 130px;
}

.judul3 {
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
}

.ket3 {
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.img-text {
    width: 100%;
    height: 270px;
    display: block;
    padding-top: 45px;
    background: #F1F3FF;
    border-radius: 8px;
}

.isi-img-text {
    margin-left: 100px;
}

.img-text .star {
    color: #F9CC00;
    width: 16px;
    height: 16px;
}

.img-text h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.img-text p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.single-box {
    position: relative;
    margin-bottom: 30px;
    display: flex;
}

.img-area {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: 100px;
    margin-left: 10px;
}

.img-area img {
    width: 100%;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators .active {
    background: #5CB85F;
    color: white;
    border-color: #5CB85F;
}

.btn-carousel {
    display: flex;
    justify-content: center;
}

.carousel-control {
    background-color: #5CB85F;
    width: 33px;
    height: 33px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel button {
    border-radius: 100%;
    margin: 5px 10px;
}

.tombol-crsl {
    width: 15px;
    height: 15px;
}

@media (max-width:287px) {
    .img-text {
        height: 500px !important;
    }
    .hilang {
        display: none;
    }
    .img-area {
        margin-top: 40px !important;
        margin-left: 38% !important;
    }
    .isi-img-text {
        margin-left: 10px !important;
        margin-top: 100px;
    }
    .bintang {
        margin-left: 39%;
    }
    .komen {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:425px) {
    .img-text {
        height: 350px !important;
    }
    .hilang {
        display: none;
    }
    .img-area {
        margin-top: 40px !important;
        margin-left: 38% !important;
    }
    .isi-img-text {
        margin-left: 10px !important;
        margin-top: 100px;
    }
    .bintang {
        margin-left: 39%;
    }
    .komen {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:480px) {
    .hilang {
        display: none;
    }
    .img-area {
        margin-left: 4%;
    }
    .isi-img-text {
        margin-left: 115px;
    }
}

@media (min-width:481px) and (max-width:767px) {
    .hilang {
        display: none;
    }
    .img-area {
        margin-left: 4%;
    }
    .isi-img-text {
        margin-top: 20px;
        margin-left: 115px;
    }
}

@media (min-width:768px) and (max-width:1190px) {
    .hilang {
        display: none;
    }
    .selalu-ada {
        width: 100% !important;
    }
    .img-area {
        margin-left: 4%;
    }
    .isi-img-text {
        margin-left: 16%;
        margin-top: 30px;
    }
}


/* Testimonial */


/* Order */

.order {
    width: 90%;
    background: #0D28A6;
    border-radius: 13px;
}

.order h1 {
    color: #FFFFFF;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    margin-top: 50px;
}

.order p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.btn-sewa {
    background: #5CB85F;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    margin: 50px auto;
}


/* Order */


/* FAQ */

.faq {
    margin: 100px auto;
}

.faq h1 {
    color: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-top: 10px;
}

.faq p {
    color: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.mainmenubtn {
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px auto;
    width: 80%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainmenubtn a {
    color: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    margin: 0px 15px;
}

.dropdown-child {
    display: none;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 5px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    width: 80%;
    margin: 10px auto;
}

.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}


/* FAQ */


/* Footer */

.footer {
    margin-bottom: 80px;
}

.kontak,
.social-media,
.copyright {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.bagian {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

@media(min-width:769px) {
    .kontak {}
    .bagian {}
}

@media (max-width:768px) {
    .kontak,
    .social-media,
    .copyright {}
    .bagian {}
    .social-media img {
        margin-bottom: 15px;
    }
}


/* Footer */